.countryCard{
    margin: 10px;
    width: 20rem;
    height: 20rem;
    /* display: flex; */
    border: 2px solid black;
    border-radius: 5%;
}

.countryImg{
    width: 100%;
    border-radius: 5%;
}

.countryName{
    margin: 10px;
    font-size: small;
}

.countryRegion{
    margin: 10px;
    font-size: small;
}