.imgwhatts{
    width: 150px;
    height: auto;
}

.imggithub{
    width: 150px;
    height: auto;
}

.imglinkedin{
    width: 150px;
    height: auto;
}

.backButton{
    border: 1px solid white;
    box-shadow: 0px 0px 3px grey;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: darkblue;
    margin: 30px 8px 8px 20px;
    padding: 4px 16px;
    width: auto;
    cursor: pointer;
    transition: 0.5s;
}
.backButton:hover{
    box-shadow: 0px 2px 4px grey;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    margin-left: 50px;
}



