.landing{
    display:flex;
    align-items:center;
    justify-content:center;
}

.landing-text{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    text-align: center;
}

.landingbutton{
    border: 1px solid white;
    box-shadow: 0px 0px 3px #aaa;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: darkblue;
    background: rgba(241, 241, 241, 0.856);
    margin-top: 50px; 
    padding: 4px 16px;
    width: auto;
}